:host {
  display: block;
  padding: 2rem 1rem;
}

.paper > h2 {
  margin-bottom: 0.5em;
}

.preview {
  margin-top: 2rem;
}

.line {
  font-size: 1.5rem;
  border-bottom: 1px solid #c1c0b9;
  margin: 0;
  padding: 0.5rem 0;
}

.preview h4 {
  margin-bottom: 0.5em;
}
